# wui's config file

basedir = base_dir_to_plays

mp3url = http://base_url_to_fetch_plays_may_be_a_file_system_path
oggurl = http://base_url_to_fetch_plays_may_be_a_file_system_path

hoerdatdb = path_to_hoerdat.db
md5db = path_to_md5.db
fulltextdb = path_to_fulltext.db

# set to one to prevent all write access
readonly = 1

# simple user access control - if not set, no access control
# ':', '|' and '\' hav to be escaped with preceding '\' (other escapes are optional)
# users = [username]::[group]::[password]||...
# groups: 1: admin (with change rights)
#         0: standard user (read only)
users = admin::1::top-secret||user::0::less-secret
